$card-size: 100px;
$card-border-radius: 8px;
$card-background: yellow;
$card-flip-transition: 0.5s;

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, $card-size);
  gap: 10px;
  margin-bottom: 20px;
}

.card {
  width: $card-size;
  height: $card-size;
  background-color: $card-background;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: $card-border-radius;
  cursor: pointer;
  perspective: 1000px;
  position: relative;
}
.card .card-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform $card-flip-transition;
  transform: rotateY(180deg);
}

.card.flipped .card-inner {
  transform: rotateY(0deg);
}

.card .card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: $card-border-radius;
}

.card .card-back {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem; /* Simbolis */
  color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: $card-border-radius;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
//Hoover'iai//
button:hover {
  background-color: orange;
}
.card:hover {
  background-color: yellowgreen;
}
